# App
APP_NAME=PEGit API
APP_VERSION=0.1.0
DEBUG=true

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/pegit

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_SECRET=change-me-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24

# LLM / DashScope
DASHSCOPE_API_KEY=sk-xxxxxxxxxxxxxxxx
DASHSCOPE_MODEL=qwen3.5-plus

# Vector DB
VECTOR_DB_URL=http://localhost:6333
