fastapi==0.115.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.35
pydantic==2.9.0
pydantic-settings==2.5.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
alembic==1.13.0
psycopg2-binary==2.9.9
redis==5.0.8
httpx==0.27.2
dashscope==1.20.0
cryptography==42.0.0
